[Unit]
Description=battery notification daemon

[Service]
ExecStart=%h/.local/bin/bsc
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=default.target
