[Unit]
Description=external monitor brightness service

[Service]
ExecStart=%h/.local/bin/monbrighter
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity

[Install]
WantedBy=default.target
