.config/nvim/lazy-lock.json
.config/yazi/yazi.toml-*
.config/yazi/keymap.toml-*
.config/yazi/plugins/*
.config/yazi/flavors/*
.config/yazi/package.toml
.config/mihomo/*
!.config/mihomo/example.json
.config/singbox/*
!.config/singbox/
!.config/singbox/example.json
!.config/singbox/example_claude.json
.config/systemd/default.target.wants/*
.config/systemd/user/default.target.wants/*
.config/niri/config/monitors.kdl
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/opencode/*
!.config/opencode/themes
!.config/opencode/skills
!.config/opencode/AGENTS.md
!.config/opencode/merge-config.sh
!.config/opencode/provider_example.json
!.config/opencode/base.json
!.config/opencode/tui.json
.config/naive/*
!.config/naive/example.json
.config/go/*
!./.config/go/env
.config/rofi/scripts/network-manager/enabled
.local/bin/*
!.local/bin/bsc
!.local/bin/profile-notify-daemon
!.local/bin/steamos-session-select
!.local/bin/emonbrighter
!.local/bin/python
!.local/bin/steamos-update
!.local/bin/gamescope-volume-daemon
!.local/bin/python3
!.local/bin/steamui_switcher
!.local/bin/jupiter-biosupdate
!.local/bin/python-venv-checker
!.local/bin/wallpaper-changer
!.local/bin/monbrighter
!.local/bin/steamos-select-branch
!.local/bin/waymonman
