* {
  border: none;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
  font-weight: 700;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  color: #c0caf5;
}

window#waybar {
  background: rgba(32, 33, 44, 0.42);
}

#clock,
#tray,
#language,
#custom-media {
  border: none;
  border-radius: 11px;
  padding-top: 1px;
  margin-bottom: 2px;
  margin-top: 1px;
  min-height: 36px;
}

#workspaces-group,
#custom-media {
  margin-left: 5px;
}

#clock,
#tray {
  margin-right: 5px;
}

#pulseaudio,
#custom-media,
#network,
#battery,
#clock,
#tray,
#language,
#backlight,
#bluetooth {
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button {
  padding-left: 4px;
  padding-right: 9px;
}

#network,
#battery {
  padding-left: 6px;
}

#pulseaudio.input,
#backlight,
#bluetooth {
  padding-right: 6px;
}
