// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 5
    center-focused-column "never"
    background-color "#000"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    border {
        on

        width 2
        active-gradient from="#33ccffee" to="#bd93f9ee" angle=135
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
    shadow {
        on
        draw-behind-window false
        softness 30
        spread 5
        offset x=0 y=5
        color "#03001070"
    }
    struts {
    }
}


prefer-no-csd


animations {
}

blur {
    passes 2
    offset 2
    noise 0.00
    saturation 1
}

window-rule {
    background-effect {
        blur true
    }
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
    match namespace="^waybar$"

    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^rofi$"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="^notifications$"

    background-effect {
        blur true
        xray false
    }
}
