* {
  border: none;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
  font-weight: 700;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 20px;
  color: #c0caf5;
}

window#waybar {
  background: transparent;
}

tooltip,
#clock,
#tray,
#language,
#custom-media,
#network-group,
#pulseaudio-group,
#workspaces-group,
#power-group {
  border: 2px solid rgba(192, 202, 245, 0.5);
  border-radius: 11px;
  background-color: rgba(32, 33, 44, 0.42);
  padding-top: 1px;
  margin-bottom: 2px;
  margin-top: 1px;
}

tooltip {
  background: rgba(32, 33, 44, 0.82);
}
tooltip label {
}

#workspaces-group,
#custom-media {
  margin-left: 5px;
}

#clock,
#power-group,
#network-group,
#pulseaudio-group,
#tray {
  margin-right: 5px;
}

#pulseaudio,
#custom-media,
#network,
#battery,
#clock,
#tray,
#language,
#backlight,
#bluetooth,
#windowcount {
  padding-left: 12px;
  padding-right: 12px;
}

#workspaces button {
  padding-left: 4px;
}

#windowcount {
  padding-right: 4px;
}
#network,
#battery {
  padding-left: 6px;
}
#workspaces,
#pulseaudio.input,
#backlight,
#bluetooth {
  padding-right: 6px;
}
