[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=kitty yazi %f
Name=kitty yazi
Comment=Custom definition for kitty yazi
